<html>
<head></head>
<style>
	body{ 
	background-image: url('http://wallpapercave.com/wp/QLnDcJB.jpg');

	}
</style>
<center>
<%= form_with(model: userss, local: true) do |form| %>
  <% if userss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userss.errors.count, "error") %> prohibited this userss from being saved:</h2>

      <ul>
      <% userss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</center>